
<div data-role="page" data-theme="a" data-next="" data-prev="" id="article_page">
<script>
var current_article;
  var article_index ;
    var next_article;
  var prev_article ;
$(document ).on( "pageinit pageshow","[data-role='page'].demo-page", function( event, ui ) {
  if(event.handled !== true) // This will prevent event triggering more then once
      { 
  current_article = $.mobile.activePage.data('url');
  console.log(current_article);
  article_index = article_links.indexOf(current_article);
      next_article = article_links[article_index+1];
     prev_article = article_links[article_index-1];

     $(document).on('tap', '[data-role="page"]', function(event){    
    if(event.handled !== true) // This will prevent event triggering more then once
    {    
        // swipe using id of next page if exists
            $.mobile.changePage(next_article, {transition: "slide", reverse: false}, true, true);
        
        event.handled = true;
    }
    return false;         
});
$(document).on('swiperight', '[data-role="page"]', function(event){   
if(event.handled !== true) // This will prevent event triggering more then once
{      
        $.mobile.changePage(prev_article, {transition: "slide", reverse: true}, true, true);
    event.handled = true;
}
return false;            
});
}

} );
$(function(){

  $("a#archiveit").click(function (e) {
  var a = $(this).parent().parent();
  $(".read_text",a).html();
  $.ajax({
          url: "/app/Article/created",
          dataType: "json",
          cache: false,
          data: {"article": {
            "title" : "<%=@artc['title']%>",
            "content" : $('.read_text',a).html(),
          "source" : "<%=@source%>"}           
          },
    success : function(data){
      $( "#archived" ).popup("open");
      $("ul.a").append(
        '<li id="'
        +data.id
        +'"><a href="/app/Article/{'+data.id+'}/show" class="ui-btn ui-btn-icon-right ui-icon-carat-r">'
        +data.title
        +'</a></li>'             
      );
      
    }
      
});
return false;
});

});
</script>
<style>
.read_text img{
max-width: 100%;
}
/* reset buttons */
a[data-role="button"][data-theme="reset"] {
border: none;

  background: transparent;  
  border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;
    box-shadow: none !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important;
    text-decoration: none;
    }
 
    </style>

<div data-role="panel" id="myPanel" class="main_nav" data-display="push"  data-dismissible="true" data-theme="b">
  <ul data-role="listview" class="a">            

          <li><a href="/app/Xyz" data-role="button" data-icon="home">
          Home</a> </li>
            <%= render :partial =>"partials/archivelist", :locals => { :articles => @articles } %>            
                                  
          </ul>
 </div><!-- /panel -->
    <div data-role="header" id="header" > 
          <a href="#myPanel" data-rel="panel" data-role="button" data-corners="true" data-iconpos="left" data-icon="bars" data-inline="true" data-theme="c" >daqwest</a> 
    
    <a id="archiveit" href="#" data-role="button" data-theme="reset"  data-iconpos="notext" data-icon="check" >
    </a><!-- /this link should directly come under header for our javascript on archive click to work properly-->
        
</div><!-- /header -->
<div data-role="content" style="overflow-x: visible;">
    <div data-role="popup" id="archived" data-theme="b">
      <p>Article Archived.<p>
    </div>
<div class = "read_content">    
    <div class = "read_head">    
      <h1> <%= @artc["title"]%></h1>
      <div class="source" ><%=@source%></div>
    </div >    


      <div class="read_text" style ="">  
<%= @artc["content"]%>  
</div><!-- /readercontent -->
      </div><!-- /content -->
</div>
  