
<div data-role="page" data-theme="a">
<script>
$(function(){
  $("img").error(function(){
          $(this).hide();
  });
});
</script>
<div data-role="panel" id="myPanel" class="main_nav" data-display="push"  data-dismissible="true" data-theme="b">
  <ul data-role="listview" class="a">            

          <li><a href="/app/Xyz" data-role="button" data-icon="home">
          Home</a> </li>
            <%= render :partial =>"partials/archivelist", :locals => { :articles => @articles } %>            
                                
          </ul>
 </div><!-- /panel -->
    <div data-role="header" id="header" > 
          <a href="#myPanel" data-rel="panel" data-role="button" data-corners="true" data-iconpos="left" data-icon="bars" data-inline="true" data-theme="c" >daqwest</a> 
  <h2>..</h2>
</div><!-- /header -->
    <div data-role="content" style="padding:0px;">
        <div style="border-bottom:1px solid #9cc;padding-top:1%;padding-bottom:1%;padding-left:2%;">
            <div style="float:left;display:inline;"><img src = "http://www.valtorc.com/images/yootheme/slideshow_list/Article_icon.png" width="20px" height="20px" style="margin-top:1%;"></div>
                <div style="margin-left:25px;color:#9cc;"><%=@query%>/ <b>Definition</b></div>
            </div>
        </div>
<div data-role="content" style="padding:0px;overflow-x: visible;">
    <li id="zero">
        <div id = "zero_desc">
            <div style="color:#555;">Bubble sort, sometimes incorrectly referred to as sinking sort, is a simple sorting algorithm that works by repeatedly stepping through the list to be sorted, comparing each pair of adjacent items and swapping them if they are in the wrong order. The pass through the list is repeated until no swaps are needed, which indicates that the list is sorted. The algorithm gets its name from the way smaller elements "bubble" to the top of the list. Because it only uses comparisons to operate on elements, it is a comparison sort. Although the algorithm is simple, most of the other sorting algorithms are more efficient for large lists.</div>
            <div style="text-align:right;color:#ccc;font-size:0.9em;padding:2px;font-family:serif;">www.wikipedia.com</div>
        </div>
    </li>   

<ul data-role="listview" >            
          <%begin%>
            <% @ds["pages"].each do |d|%>
              <li data-icon="false" class="ui-li-has-thumb">
                <a  href="/app/Xyz/articl?ad=<%=d['link']%>" style="white-space:normal;">
                <div class="ui-li-thumb" style="background:#aad5db;height:4.98em;width:5em;">
                <%if d["img_url"]%>
                <img src="<%=d["img_url"]%>" style="background:#eee;height:5em;width:5em;" />
                <%end%>
                </div>
                <h2 class="ui-li-heading"><%=d["title"]%></h2>  
                    <p class="ui-li-desc"><%=d["link"]%></p>
             
                </a></li>
            <%end%>
          <%rescue Exception => e%>
          <%="Error: #{e}"%>
          <%end%>
     </ul>

  </div><!-- /content -->
</div>
