<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @article.object %>
    <h1>Edit <%= @article.title%></h1>
    <%= link_to "Delete", :action => :delete, :id => @article.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @article.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Title: </td>
              <td class="itemValue"><input type="text" name="article[title]" value="<%= @article.title %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Source: </td>
              <td class="itemValue"><input type="text" name="article[source]" value="<%= @article.source %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Content: </td>
              <td class="itemValue"><input type="text" name="article[content]" value="<%= @article.content %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
