<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @article.title %></h1>
    <%= link_to "Edit", :action => :edit, :id => @article.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Title</td>
        <td class="itemValue"><%= @article.title%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Source</td>
        <td class="itemValue"><%= @article.source%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Content</td>
        <td class="itemValue"><%= @article.content%></td>
      </tr>
      
    </table>
  </div>

</div>
